<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<table>
  <thead>
    <tr>
      <th>Phone Number</th>
      <th>Pin</th>
      <th>4PSA Extn Number</th>
      <th>Zip code</th>
      <th>Subscriber name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.pon %></td>
        <td><%= account.pin %></td>
        <td><%= account.account_number %></td>
        <td><%= account.zip_code %></td>
        <td><%= account.subscriber_name %></td>
        
        <td><%= link_to 'Add Phone', new_phone_path %></td>

        <td><%= link_to 'Show', account %></td>
        <td><%= link_to 'Edit', edit_account_path(account) %></td>
        <td><%= link_to 'Delete', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account', new_account_path %>
